{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Help Index"%}{% endblock %}

{% block content %}

<h1>{% trans "Help Index" %}</h1>

<ul>
{% for page_id, page_name in pages.items %}
  <li><a href="{% url 'help' page_id %}">{{ page_name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
