{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Login" %} {% endblock %}
{% block extrahead %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}
{% block content %}

{% if user.is_authenticated %}
  <p>{% blocktrans with user.username as username %}You are already logged in as {{ username }}.{% endblocktrans %}</p>
{% else %}
{% url 'register' as link %}
<!--
<p>{% blocktrans %}If you do not own an account on this site, you can <a href='{{ link }}'>register</a> for a new account.{% endblocktrans %}</p>
-->

<p>{% trans 'Log in with your username and password:' %}</p>
<form action="{% url 'login' %}" method="post" id="login-form" class="login">{% csrf_token %}
  <table>
  <tr><td class="form-row">
    <label for="id_username">{% trans 'Username:' %}</label></td><td><input type="text" name="username" id="id_username" />
  </td></tr>
  <tr><td class="form-row">
    <label for="id_password">{% trans 'Password:' %}</label></td><td><input type="password" name="password" id="id_password" /> 
    <span class="help"><!--<a href="/password_reset/">{% trans 'Have you forgotten your password?' %}</a>--></span>
  </td></tr>
  </table>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}">
  </div>
  <input type="hidden" name="next" value="{{ next }}">
</form>
{% endif %}

{% endblock %}
