{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Home"%}{% endblock %}

{% block content %}

<h1>{% blocktrans with uname=disp_user.username %}Page of {{ uname }}{% endblocktrans %}</h1>

<form method="post" action="{% url 'logout' %}"><input type="submit" value="{% trans "Logout" %}" /></form>
{% endblock %}
