{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Site Administration"%}{% endblock %}

{% block content %}

<h1>{% trans "Site Administration"%}</h1>

<ul>
{% if web_stats %}<li><a href="{{ web_stats }}">{% trans "Access Statistics" %}</a></li>{% endif %}
  <li><a href="{% url 'attributes' %}">{% trans "All attributes" %}</a></li>
  <li><a href="{% url 'inventories' %}">{% trans "All inventories (first level)" %}</a></li>
</ul>
{% endblock %}
