body {
  font-family:arial,helvetica,verdana,sans-serif;
  font-size:0.9em;
  max-width: 1140px;
  margin: 0 auto;
}

/* Override main.css */
a {
border-bottom:1px dotted #888888;
color:black;
text-decoration:none;
}
a.logo { border: none; }
a.header {
  color: black;
  border-bottom:1px dotted #888888;
}

div.button a:hover {
  color: black;
}

/* Header styles */
#logo-ch { max-width: 230px; margin-top: 1em; margin-left: 5px; }
#webHeaderDiv {
display: flex;
justify-content: space-between;
background-image:url(../img/bkg_header.jpg);
background-repeat:no-repeat;
background-position: right;
height:103px;
margin:0 0 1px;
padding:0;
width:100%;
}

#webHeaderLinks {
text-align:right;
}

#webHeaderLinks a {
display:block;
font-size:1.2em;
font-weight:bold;
margin:10px 20px 0 0;
text-decoration:none;
}

#adminch a {
font-size:0.9em;
font-weight:bold;
margin:0 20px 0 0;
padding:2px 0 0;
}

/* Web service (login) bar styles */
#webServiceNavigationDiv {
background:#CCCCCC none repeat scroll 0 0;
border-bottom:1px solid #FFFFFF;
margin:0;
padding-left:4px;
}
div.search {
float: right;
margin: 0.5em;
font-size:0.9em;
}
div.login {
margin: 3px 10px 0 0;
}
div.login .button {
background-color: #CCCCCC;
border-width: 0;
font-size:0.9em;
}

/* Content styles */

div.block {
float:left;
margin:0.6em 0.6em 0.6em 0;
}

div.block h2 {
color: black;
background-color:#CCCCCC;
}
div.block_content {
border-color: #999999;
border-top-color: white;
}

div.medias img {
  /* 960px * 65% / 2 - 1em */
  max-width: 282px;
}

.lot-wrapper {
  border-top: 1px solid #ccc;
  clear: both;
}
div.taux_norm {
  font-weight: bold;
}
td.taxons {
  background-color:#d9dec6;
}

.inputlabel {
  /* Alignement between label and widget in forms */
  padding-top: 6px;
}

.noresults {
  padding: 0.7em;
  background-color: #f8d7da;
  border-radius: 8px;
}

/* Footer */
#webFooter {
display: flex;
justify-content: space-between;
clear: both;
border-top:1px solid #000000;
font-size:0.9em;
margin: 0 20px;
padding:5px 0;
text-align:left;
}
