div.top_line, div.bottom_line {
  width: 550px;
}

div.content_line {
  width: 550px;
}

div.ranks {
  margin: 1em 0;
  font-size: 0.8em;
}

.active_rank {
  font-size: 1.7em;
  font-weight: bold; 
}

.all_text {
  font-size: 0.8em;
  font-style: italic;
  color: #666;
}

.selected_name {
  font-size: 0.8em;
  color: red;
}

table.taxo_selector {
  border-collapse: collapse;
}

td.rank_cell {
  width: 10em;
  padding: 2px;
}

td.rank_cell_active {
  background-color: #DEF8BF;
  width: 10em;
}

td.taxons {
  background-color: #DEF8BF;
  vertical-align: top;
  width: 12em;
}

.col_prevnext {
  position: relative;
  width: 60px;
}
#col_prev {
  visibility: hidden;
}

.hidden {
  display: none;
}

ul.taxons li {
  font-size: 0.7em;
  margin-left:-15px;
  /*padding-left: 15px;*/
  text-indent: 0em;
}

form.search_form {
  padding-left: 60px;
  margin: 1.2em 0;
  font-size: 0.8em;
}
