<div class="descriptor {% if editable %}editable{% endif %}" id="descriptor-{{ value.id }}">
  <div class="content" style="display: inline">{{ value.render }}</div>
{% if editable %}
  {% include "invent/edit_icons.html %}
{% endif %}
</div>
