{% load i18n %}
<div class="attributes_block">
  <a href="." class="nobr" onclick="return show_groups()"><img id="groups_expander" src="{% static 'img/closed.png' %}" class="icon" alt="closed symbol" />&nbsp;<em>{% trans "Attribute..." %}</em></a>
  <div id="attr_groups" style="display:none; margin-left:10px;">
  {% for group in attr_groups %}
    <div class="nobr"><a href="." onclick="return show_attrs({{ group.id }})"><img id="expander_{{ group.id }}" src="{% static 'img/closed.png' %}" class="icon" alt="closed symbol"></a>&nbsp;<em>{{ group.gname }}</em></div>
    <div id="attr_list_{{ group.id }}" style="display:none; margin-left:8px"></div>
  {% endfor %}
  </div>
</div>
