{% load i18n %}
<form id="descr_edit_form-{{ value_id }}" class="descr_edit_form">
    {% csrf_token %}
    <div id="attr_edit_errors-{{ value_id }}" class="attr_edit_errors"></div>
    <div id="new_widget" class="new_widget">
    {{ value_form }}
    </div>
    <div class="buttons">
    <input type="image" onclick="return save_descriptor(this.form, '{{ value_id }}')" title="{% trans 'Save' %}" src="{% static 'img/save.png' %}">
    <input type="image" onclick="return cancel_descriptor(this.form, '{{ value_id }}')" title="{% trans 'Cancel' %}" src="{% static 'img/undo.png' %}">
    </div>
</form>
