{% load i18n thumbnail %}

<div class="images">
{% for photo in images %}
  {% if forloop.first %}
    <div id="nextbtn"><a class="icon" href=""><img src="{% static 'img/next.jpg' %}" alt="Next"></a></div>
    <div id="carousel"><ul>
  {% endif %}
  <li><a href="#{{ photo.id }}" title="{% trans "Click to enlarge" %}">
        {% thumbnail photo.imagesubobject.image "140x90" as im %}
        <img id="img-{{ photo.id }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
        {% endthumbnail %}
      </a>
      <p class="caption" style="width: 140px;">{{ photo.title }}</p>
  </li>
  {% if forloop.last %}
    </ul></div>
    <div id="prevbtn"><a class="icon" href=""><img src="{% static 'img/prev.jpg' %}" alt="Previous"></a></div>
  {% endif %}
{% endfor %}
</div>
