{% load i18n %}

{% block extra_head %}
    <script src="{% static 'js/invent_edit.js' %}"></script>
{% endblock %}

{% block content %}
<form id="acc_dup_form" name="put_new_data_acc" action="{% url 'accession_duplicate' obj.id %}" method="post">
    {% csrf_token %}
    <h1>{% trans "Accession Duplicate" %}</h1>
    <br>
    <table class="formu">
      <tbody>
        <tr>
            <td colspan="2">
                <p>Veuillez saisir les données de la nouvelle accession</p>
            </td>
        </tr>
        <tr>
            <td>Numéro:</td>
            <td><input type="text" id="num_acce" maxlength="30" value="{{ num_acc }}" style="width: 100%;"></td>
        </tr>
        <tr>
            <td>Nom:</td>
            <td><input type="text" id="name_acce" value="{{ name_acc }}" style="width: 100%;"></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="button" onclick="history.go(-1)" value="{% trans 'Cancel' %}" />
            <input type="submit" onclick="return duplicate_input_num_accession( {{ obj.id }} )" 
                            value="{% if inv.id %}{% trans 'Execute' %}{% else %}{% trans 'Execute' %}{% endif %}" />
          </td>
        </tr>
      </tbody>
    </table>
</form>
{% endblock %}
