{% load i18n %}
<a href="." onclick="return edit_value({{ value.id }})">
<img class="edit_icon" src="{% static 'img/edit.png' %}" height="16" title="{% trans "Edit" %}" alt="edit icon" /></a>
<a href="." onclick="return delete_value({{ value.id }})">
<img class="edit_icon" src="{% static 'img/delete.png' %}" height="16" title="{% trans "Delete" %}" alt="delete icon" /></a>

