{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "File attachments"%}{% endblock %}

{% block content %}

<h1>{{ object.title }} - {% if file_obj %}{% trans "Edit attachment" %}{% else %}{% trans "Add attachment" %}{% endif %}</h1>

<form enctype="multipart/form-data" method="post" action=".">
{% if file_obj %}<div style="float:right"><img src="{{ file.file }}" width="100" /></div>
{% endif %}
<table class="form">
{{ form.as_table }}
<tr><td colspan="2" align="right">
    <input type="button" onclick="history.go(-1)" value="{% trans "Cancel"%}" />
    <input type="submit" value="{% if not file_obj %}{% trans "Add"%}{% else %}{% trans "Modify" %}{% endif %}" />
</td></tr>
</table>
</form>

{% endblock %}
