{% extends "base.html" %}
{% load i18n %}
{% load myforms %}

{% block title %}{% trans "Object editing"%}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/invent.css' %}">
{% endblock %}

{% block content %}

{% if view.create %}
    <h1>{% blocktrans %}New:{% endblocktrans %}</h1>
{% endif %}

<form name="edit_form" method="post" action=".">{% csrf_token %}
    {{ form.non_field_errors }}
    <table class="form">
        {{ form.as_table }}
    </table>
    <div>
        <input type="button" onclick="history.go(-1)" value="{% trans 'Cancel' %}">
        <input type="submit" value="{% if view.create %}{% trans 'Create' %}{% else %}{% trans 'Modify' %}{% endif %}">
    </div>
</form>
{% endblock %}
