{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Inventory list"%}{% endblock %}

{% block content %}
<h1>{% trans "List of inventories" %}</h1>

{% for i in invents.object_list %}
  <div style="margin-top: 0.5em; padding: 4px;" class="{% cycle 'odd' 'even' %}">
    {% if user.is_superuser %}<div style="float:right;"><span class="helptext">({{ i.owner }})</span></div>{% endif %}
    <img src="{{ i.get_icon_url }}" class="icon" alt='icon' /> <a href="{{ i.get_absolute_url }}"><span class="{{ i.status }}"/>{{ i.title }}</span></a>
    <div class="left_icon_margin">{{ i.description|safe }}</div>
  </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if invents.has_previous %}
            <a href="?page={{ invents.previous_page_number }}">{% trans "previous" %}</a> &mdash;
        {% endif %}

        <span class="current">
            Page {{ invents.number }} of {{ invents.paginator.num_pages }}
        </span>

        {% if invents.has_next %}
            &mdash; <a href="?page={{ invents.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>

{% endblock %}
