{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Object import"%}{% endblock %}

{% block content %}

<h1>{{ parent.title }}</h1>
<h2>{% trans "Import objects from a spreadsheet" %}</h2>

{% if form %}
<form  enctype="multipart/form-data" method="post" action=".">
<table class="form">
{{ form.as_table }}
<tr><td colspan="2" align="right">
    <input type="button" onclick="history.go(-1)" value="{% trans 'Cancel' %}">
    <input type="submit" value="{% trans 'Import' %}">
</td></tr>
</table>
</form>
{% else %}
<div class="message"><p>{{ message|linebreaksbr }}</p></div>
<a href="{% url 'object_detail' parent.id %}">{% trans "Return to main page" %}</a>

{% endif %}

{% endblock %}
