{% load i18n %}

{% for lot in lots %}
<div class="lot-wrapper">
    <h2 class="lot_title">Lot {{ lot.designation }}
        {% if editable %}
        <div class="edit_icons">
            <a class="icon" href="{% url 'lot_edit' lot.pk %}">
                <img src="{% static 'img/edit.png' %}" alt="edit icon" title="{% trans 'Edit Lot' %}" width="18">
            </a>
            <form class="delete-object" method="post" action="{% url 'lot_delete' lot.pk %}" style="display: inline"
                  data-confirm="{% trans 'Do you really want to delete this lot?' %}">{% csrf_token %}
                <input type="image" src="{% static 'img/delete.png' %}" alt="delete icon" width="16" title="{% trans 'Delete this lot' %}">
            </form>
        </div>
        {% endif %}
    </h2>
    <div class="object_block_left lot">
        <div class="descriptor">
            {% for field, value in lot.attributes %}
                <div class="descr_title">{{ field.verbose_name }}:</div>
                <div class="descr_content">
                    <div class="value">{{ value }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% for germtest in lot.germtest_set.all %}
        <div class="object_block_right">
            {% if editable %}
            <div class="edit_icons">
                <a class="icon" href="{% url 'test_edit' germtest.pk %}">
                    <img src="{% static 'img/edit.png' %}" alt="edit icon" title="{% trans 'Edit Test' %}" width="18">
                </a>
                <form class="delete-object" method="post" action="{% url 'test_delete' germtest.pk %}" style="display: inline"
                      data-confirm="{% trans 'Do you really want to delete this test?' %}">{% csrf_token %}
                    <input type="image" src="{% static 'img/delete.png' %}" alt="delete icon" width="16" title="{% trans 'Delete this test' %}">
                </form>
            </div>
            {% endif %}
            <h2 class="germtest_title">
                Test de germination {% if germtest.date_test %}du {{ germtest.date_test|date:"d.m.Y" }}{% else %}(sans date){% endif %}
            </h2>
            {% if germtest.numero %}
            <div class="descriptor">
                <div class="descr_title">Numéro du test:</div>
                <div class="descr_content">{{ germtest.numero }}</div>
            </div>
            {% endif %}
            {% for fname, label, value in germtest.attributes %}
                <div class="descriptor {{ fname }}">
                    <div class="descr_title">{{ label }}:</div>
                    <div class="descr_content">{{ value }}</div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% for cmd in lot.command_set.all %}
        <div class="object_block_right">
            {% if editable %}
            <div class="edit_icons">
                <a class="icon" href="{% url 'command_edit' cmd.pk %}">
                    <img src="{% static 'img/edit.png' %}" alt="edit icon" title="{% trans 'Edit Command' %}" width="18">
                </a>
                <form class="delete-object" method="post" action="{% url 'command_delete' cmd.pk %}" style="display: inline"
                      data-confirm="{% trans 'Do you really want to delete this command?' %}">{% csrf_token %}
                    <input type="image" src="{% static 'img/delete.png' %}" alt="delete icon" width="16" title="{% trans 'Delete this command' %}">
                </form>
            </div>
            {% endif %}
            <h2 class="germtest_title">{{ cmd.designation }}</a></h2>
            {% for fname, label, value in cmd.attributes %}
            <div class="descriptor {{ fname }}">
                <div class="descr_title">{{ label }}:</div>
                <div class="descr_content">{{ value }}</div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% if editable %}
        <div class="object_block_right" style="text-align: right; border: none;">
            <a href="{% url 'test_create' lot.pk %}">
                <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon"> {% trans "test…" %}
            </a><br>
            <a href="{% url 'command_create' lot.pk %}">
                <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon"> {% trans "commande…" %}
            </a>
        </div>
    {% endif %}
</div>
{% endfor %}
