{% extends "base.html" %}
{% load i18n myforms %}
{% block title %}{% trans "Object editing"%}{% endblock %}

{% block extra_head %}
<style type="text/css"><!--
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
--></style>
{% endblock %}

{% block content %}
<h1>{{ obj.title }}</h1>

<form name="edit_form" method="post" action=".">
{{ form.non_field_errors }}
<table class="form">
<tr><th class="form inputlabel" width="25%">{% trans "Owner:" %}</th><td>{{ form.owner.errors }}{{ form.owner }}</td></tr>
<tr><th class="form inputlabel">{{ form.status|get_label }}:</th><td>{{ form.status.errors }}{{ form.status }}</td></tr>
{% for perm in obj.permissions.all %}
  {% if forloop.first %}<tr><th class="form">{% trans "Other permissions:" %}<br/><small>{% trans "(group — permission)" %}</small></th><td valign="top">{% endif %}
  <div>{{ perm.group }} — {{ perm.get_perm_display }} <span style="background-color: #ddd; font-size:90%; padding:3px;">{{ form|perm_delete:perm.id }}&nbsp;{% trans "Delete?" %}</span></div>
  {% if forloop.last %}</td></tr>{% endif %}
{% endfor %}
</table>
<fieldset style="width:100%"><legend>{% trans "New permission" %}</legend>
  <table><tr><td valign="top">{{ form.new_perm_group }}</td><td valign="top"> {{ form.new_perm_perm }}</td></tr></table>
</fieldset>

{{ form.apply_to_children.errors }}{{ form.apply_to_children }} <b>{{ form.apply_to_children|get_label }}</b>
<div style="text-align:right;">
    <input type="button" onclick="history.go(-1)" value="{% trans "Cancel" %}" />
    <input type="submit" value="{% trans "Modify" %}" />
</div>
</form>
{% endblock %}
