{% extends "base.html" %}
{% load i18n objects %}

{% block title %}{% trans "Object detail"%}{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/invent.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/superfish.css' %}" media="screen"/>
  <script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
  <style>
    details { clear: both; }
    summary { background-color: #eee; padding: 5px; margin-top: 1em; }
  </style>
  {% if images %}
    <script src="{% static 'js/jcarousellite/jquery.jcarousellite.min.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
  <script>
    var obj_id    = {{ obj.id }};
    var editable  = {{ editable|yesno:"true,false" }};
  </script>
  {% if editable %}
    <script src="{% static 'js/superfish.js' %}"></script>
    <script src="{% static 'js/invent_edit.js' %}"></script>
  {% endif %}
    <script>

    var saved_object_blocks = null;

    $(document).ready(function() {
        //$('ul.sf-menu').superfish();
        attr_edit_btns();

        // Redisplay lists at previous paginated page
        document.querySelectorAll('.object_block_navigation').forEach(block => {
            const url = block.dataset.url;
            const pageNum = readCookie(url);
            if (pageNum != null) {
                get_page(block, pageNum);
            }
        });
        document.querySelectorAll('.delete-object').forEach(form => {
            form.addEventListener('submit', ev => {
                if (ev.target.dataset.confirm) {
                    if (!confirm(ev.target.dataset.confirm)) {
                        ev.preventDefault();
                        return false;
                    }
                }
            });
        });
        
    {% if images %}
        $('#carousel').jCarouselLite({
            btnNext: "#nextbtn",
            btnPrev: "#prevbtn",
            visible: {% if images|length > 3 %}3{% else %}{{ images|length }}{% endif %},
            circular: false
        });
        $('img', '#carousel').click(function(ev) {
            ev.preventDefault();
            var img_id = $(this).attr('id').split('-')[1];
            display_image(img_id);
        });
        if (window.location.hash) {
            var img_id = window.location.hash.substring(1);
            if ($('#img-'+img_id).length > 0)
                display_image(img_id);
        }
    {% endif %}
    });
    function attr_edit_btns() {
        $("div.editable").hoverIntent(function(){
          $(this).find("img").show();
        }, function() {
          $("img.edit_icon").hide();
        });
    }

    function display_image(img_id) {
        if (saved_object_blocks == null) {
          saved_object_blocks = $('#object_blocks').html();
        }
        $.get('/invent/'+ img_id + '/as_image/', function(data) {
          $('#object_blocks').html(data);
          $('a#add_attr').click(function(ev) {
            ev.preventDefault();
            add_descriptor(img_id, $('#new_img_attr').val(), false, function() {display_image(img_id)});
          });
          attr_edit_btns();
        });
    }

    function close_image() {
        if (saved_object_blocks != null) {
            $('#object_blocks').html(saved_object_blocks);
            attr_edit_btns();
        }
    }

    </script>
{% endblock %}

{% block edit_widgets %}
    {% if editable %}
        <div class="edit_buttons">
            {% include "invent/attribute_add.html" %}
            <a href="{% url 'add_photo' obj.id %}">
                <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">&nbsp;{% trans "Photo…" %}</a><br>
            <a href="{% url 'edit_file' obj.id "0" %}">
                <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">&nbsp;{% trans "File…" %}</a><br>
            {% if obj.obj_type.code == 'inventory' %}
            <a href="{% url 'object_import' obj.id %}">
                <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">&nbsp;{% trans "Import…" %}</a><br>
            {% endif %}
            {% if obj.is_task_enabled %}
            <a href="{% url 'task_create' obj.id %}">
                <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">&nbsp;{% trans "Task…" %}</a><br>
            {% endif %}
               
            {% for type in containable_types %}              
                {% if forloop.first %}<hr>{% endif %}
                <a href="{% url 'object_create' obj.id type.code %}">
                    <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon"> {{ type.tname }}…</a><br>
            {% endfor %}
            {% if obj.obj_type.code == 'accession' %}
                <a href="{% url 'lot_create' obj.pk %}">
                    <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon"> Lot…
                </a><br>
                <a href="#window_duplicate" >
                <img src="{% static 'img/duplicata.png' %}" alt="duplicate sign" class="icon">&nbsp;{% trans "Duplicate..."%}</a><br>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="titlebar">
        {% if editable %}
            <div class="edit_icons">
                <a class="icon" href="{% url 'object_edit' obj.id %}">
                    <img src="{% static 'img/edit.png' %}" alt="edit icon" title="{% trans "Edit Description" %}" width="18"/>
                </a>
                <a class="icon" href="{% url 'object_edit_perms' obj.id %}">
                    <img class="icon" src="{% static 'img/edit_rights.png' %}" height="16" title="{% trans "Edit Permissions" %}" alt="edit icon" />
                </a>
                &nbsp;
                <form class="delete-object" method="post" action="{% url 'object_delete' obj.id %}" 
                      data-confirm="{% trans 'Do you really want to delete this object and all its content?' %}"
                      style="display: inline">
                    <input type="image" src="{% static 'img/delete.png' %}" alt="delete icon" title="{% trans 'Delete' %}" width="16">
                </form>
            </div>
        {% endif %}
        
        <h1><span class="status-{{ obj.status }}">{{ obj.title }}</span></h1>
    </div>

    <div id="object_content">
        <div class="medias">
           {% include "invent/block_images.html" %}
        </div>

        <div class="description">
           {% if obj.description %}
               {{ obj.description|safe }}
           {% endif %}
        </div>

        <div id="object_blocks">
            <div id="new_descriptor" style="display:none; clear: both;"><!-- include "invent/attribute_edit.html" --></div>

            {% include "invent/object_value_blocks.html" %}
            {% include "task/obj_tasks.html" %}

            {% for obj_type, content in grouped_children.items %}

                {% url 'object_list' obj.id obj_type.code as more_url %}
                
                {% with num_children=content.count page=content.object_list style='short' %}
                       <div class="object_block_{% cycle 'left' 'right' %}">
                            {% if allow_tabular %}
                            <div style="float:right; padding: 4px;">
                                <a href="{% url 'object_list_table' obj.id obj_type.code 'table' %}" class="icon" onclick="return zoom_table(this.href);"
                                title="{% trans 'Show as table' %}"><img src="{% static 'icons/table.png' %}" alt="table icon"></a>
                            </div>
                            {% endif %}
                            <h2 class="object_block_title">
                                {% if obj_type.code == 'accession' and obj.obj_type.code == 'accession' %}Accessions enfants
                                {% else %}{{ obj_type.tname }}{% endif %}
                                ({{ num_children }}{% if num_children != content.top_level %},
                                    dont {% blocktranslate count num=content.top_level %}{{ num }} parent{% plural %}{{ num }} parents{% endblocktranslate %} -
                                    {% blocktranslate count num=num_children|subtract:content.top_level %}{{ num }} enfant{% plural %}{{ num }} enfants{% endblocktranslate %}
                                {% endif %})
                            </h2>
                            {% with type_code=obj_type.code %}
                            {% include "invent/object_list_block.html" %}
                            {% endwith %}
                        </div>
                {% endwith %}
            {% endfor %}

            {% if obj.files.count %}
                {% include "invent/block_files.html" %}
            {% endif %}

            {% if accession_total_count %}
                <div class="clear">
                    <i>{{ accession_total_count }} accessions dans cet inventaire et ses sous-inventaires</i>
                </div>
            {% endif %}

            {% if uuid_url %}
                <div class="clear">
                    <p id="access_url" class="helptext"><em>{% trans "Access URL:" %} {{ uuid_url }}</em>&nbsp;&nbsp;
                    <a href="{% url 'help' 'external_data' %}" class="icon"><img src="{% static 'icons/help.png' %}" title="{% trans 'What is this?' %}"/></a></p>
                </div>
            {% endif %}
        </div> <!-- end div object_blocks -->

        {% if lots %}
        <details open>
        <summary>Lots et tests</summary>
        {% include "invent/object_lots.html" %}
        </details>
        {% endif %}

        {% if user.is_authenticated and obj.obj_type.code == 'inventory' %}
            <div><a href="{% url 'object_export_lots' obj.id %}">Exporter tous les lots</a></div>
        {% endif %}
    </div>  <!-- end div object_content -->

    <div id="alt_container" style=""></div>

<div id="window_duplicate">
    <div class="popup_block">
         {% include "invent/duplicate_accession.html" %}
    </div>
</div>

{% endblock %}
