{% load i18n objects mptt_tags %}

{% comment %}
Input variables:
   num_children: total number of list elements
   page:         paginated object
   more_url:     url to get other pages
   style:        style of object rendering (short, middle, long)
{% endcomment %}

{% block extrahead %}
<script src="{% static 'js/invent.js' %}"></script>
{% endblock %}

{% if num_children == 0 %}
    <p><em>{% trans "No content" %}</em></p>

{% else %}
    <div class="object_block_content {{ type_code }}">
        {% if type_code == 'accession' %}
        <ul class="root">
            {% recursetree page.object_list %}
                <li>
                    <div style="float:right">
                        {% for img, title in node.get_features %}
                            <img src="{{ img }}" height="12" title="{{ title }}">
                        {% endfor %}
                    </div>
                    <span class="status-{{ obj.status }}">{{ node|resume:style }}</span>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
        {% else %}
        <ul>
            {% for obj in page.object_list %}
                <li class="{% cycle 'odd' 'even' %}">
                    <div style="float:right">
                        {% for img, title in obj.get_features %}
                            <img src="{{ img }}" height="12" title="{{ title }}">
                        {% endfor %}
                    </div>
                    <span class="status-{{ obj.status }}">{{ obj|resume:style }}</span>
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="object_block_navigation" data-url="{{ more_url }}">
            {% if page.has_previous %}
                <a href="." class="paginate" data-page="1" title="{% trans 'Get first items' %}">
                    <img src="{% static 'img/navig-first.png' %}" alt="&lt;&lt;">
                </a> 
                <a href="." class="paginate" data-page="{{ page.previous_page_number }}" title="{% trans 'Get previous items' %}">
                    <img src="{% static 'img/navig-left.png' %}" alt="&lt;">
                </a>
            {% endif %}
            {{ page.start_index }} - {{ page.end_index }}
            {% if page.has_next %}
                <a href="." class="paginate" data-page="{{ page.next_page_number }}" title="{% trans 'Get next items' %}">
                    <img src="{% static 'img/navig-right.png' %}" alt="&gt;">
                </a>
                <a href="." class="paginate" data-page="999" title="{% trans 'Get last items' %}">
                    <img src="{% static 'img/navig-last.png' %}" alt="&gt;&gt;">
                </a>
            {% endif %}
        </div>

        {% if num_children > 30 %}
        <div class="display-by-div">
            <span>{% trans "Afficher par" %}</span>
            <select class="display-by">
                {% for optNum in display_options %}
                    <option value="{{ optNum }}">{% trans optNum %}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </div>
{% endif %}
