{% extends "base.html" %}
{% load i18n %}
{% load myforms %}
{% block title %}{% trans "Object editing"%}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/invent.css' %}">
  <script src="{% static 'js/invent.js' %}"></script>
{% endblock %}

{% block content %}

{% if not obj %}
    <h1>{% blocktrans with form.obj_type.tname as obj_name %}New {{ obj_name }}:{% endblocktrans %}</h1>
{% endif %}

<form name="edit_form" method="post" action="." enctype="multipart/form-data">
{{ form.non_field_errors }}
<table class="form">
{% if form.obj_type.is_hidden %}
    {{ form.obj_type }}
{% else %}
<tr><th class="form">{{ form.obj_type|get_label }}</th><td>{{ form.obj_type.errors }}{{ form.obj_type }}</td></tr>
{% endif %}
{% if form.parent %}
<tr><th class="form inputlabel">{{ form.parent|get_label }}</th><td>{{ form.parent.errors }}{{ form.parent }}</td></tr>
{% endif %}
<tr><th class="form inputlabel">{{ form.title|get_label }}</th><td>{{ form.title.errors }}{{ form.title }}</td></tr>
<tr><th class="form inputlabel">{{ form.description|get_label }}</th><td>{{ form.description.errors }}{{ form.description }}</td></tr>

{% if form.status %}
<tr><th class="form inputlabel">{{ form.status|get_label }}</th><td>{{ form.status.errors }}{{ form.status }}</td></tr>
{% endif %}
</table>

{% for group_name, group_fields in form.gr_fields.items %}
  <div class="field_group_header" onclick="return toggle_group('{{ group_name|slugify }}');">
      <img id="{{ group_name|slugify }}-expander"
          {% if forloop.counter != 1 %}src="{% static 'img/menu_right.gif' %}"{% else %}src="{% static 'img/menu_down.gif' %}"{% endif %} class="icon" alt="open/closed symbol">
      {{ group_name }}
  </div>
  <table class="form">
  <tbody id="{{ group_name|slugify }}-tbody" {% if forloop.counter != 1 %}style="display: none;"{% endif %}>
  {% for field in group_fields %}
    <tr><th class="form inputlabel">{{ field.label }}</th><td>{{ field.errors }}{{ field }}
        {% if field.field.comments %}<br/><span class="comment">{% trans "Comment:" %} {{ field.field.comments }}</span>{% endif %}
        {% if field.help_text %}<br/><span class="helptext">{{ field.help_text }}</span>{% endif %}</td></tr>
  {% endfor %}
  </tbody>
  </table>
{% endfor %}

<table width="100%">
<tr><td align="right">
    <input type="button" onclick="history.go(-1)" value="{% trans 'Cancel' %}">
    <input type="submit" value="{% if not obj %}{% trans 'Create'%}{% else %}{% trans 'Modify' %}{% endif %}">
</td></tr>
</table>
</form>
{% endblock %}
