{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Photo editing"%}{% endblock %}

{% block content %}

<h1>{{ object.title }} - {% if photo %}{% trans "Edit photo" %}{% else %}{% trans "Add photo" %}{% endif %}</h1>

<form enctype="multipart/form-data" method="post" action=".">
{% if photo %}<div style="float:right"><img src="{{ photo.photo.thumbnail }}" width="100" /></div>
{% endif %}
<table class="form">
{{ form.as_table }}
<tr><td colspan="2" align="right">
    <input type="button" onclick="history.go(-1)" value="{% trans "Cancel"%}" />
    <input type="submit" value="{% if not photo %}{% trans "Add"%}{% else %}{% trans "Modify" %}{% endif %}" />
    
</td></tr>
</table>
</form>

{% endblock %}
