{% load i18n %}

<div class="object_block_right">
    <h2 class="object_block_title">{% trans "Task" %}</h2>
    <div class="child" id="child-{{ child.id }}">
        <ul style="margin: 0; padding-left: 3em;">
            {% for child in task.children.all %}
                <li class="task_li {% cycle 'odd' 'even' %} task-{{child.status}}">{{ child.deadline|date:"d.m.Y" }}&nbsp;&nbsp;{{ child.text }}
                        
                    {% if editable %}
                        <a href="." onclick="return up_level_task({{ child.id }})">
                            <img class="edit_icon" src="{% static 'img/uparrow.png' %}" height="16" title="{% trans "Up level" %}" alt="up icon">
                        </a>
                        <a href="{% url 'task_edit' child.id %}">
                            <img class="edit_icon" src="{% static '}img/edit.png' %}" height="16" title="{% trans "Edit" %}" alt="edit icon">
                        </a>
                        <a href="." onclick="return delete_task_child({{ child.id }})">
                            <img class="edit_icon" src="{% static 'img/delete.png' %}" height="16" title="{% trans "Delete" %}" alt="delete icon">
                        </a>
                    {% endif %}
                    
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

