{% load i18n %}

{% if user.is_authenticated and obj.task_set and obj.task_set.all %}
  <div class="object_block_{% cycle 'right' 'left' %}">
    <h2 class="object_block_title">{% trans "Tasks" %}</h2>
    <div class="object_block_content">
      <ul style="margin: 0; padding-left: 3em;">
        {% for task in obj.task_set.all %}
            {% include "task/task.html" %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
