{% extends "base.html" %}
{% load i18n objects %}

{% block extra_head %}
    <script>
        var task_id = {% if task.pk %}{{ task.id }}{% else %}{{ 0 }}{% endif %};
        var editable = {{ editable|yesno:"true,false" }};
        
         $(document).ready(function() {
              function attr_edit_btns() {
                $("li.task_li").hoverIntent(function(){
                  $(this).find("img").show();
                }, function() {
                  $("img.edit_icon").hide();
                });
            }
            attr_edit_btns();
         });
    </script>
    {% if editable %}
        <script src="{% url 'javascript_catalog' %}"></script>
        <script src="{{ STATIC_URL }}task/js/task_edit.js"></script>
    {% endif %}    
{% endblock %}

{% block title %}
  {% if task.pk %}
    {% trans "Edit Task" %}
  {% else %}
    {% trans "Create Task" %}
  {% endif %}
{% endblock %}

{% block content %}

  {% if task.pk %}
    <h1>{% trans "Edit Task" %}</h1>
    
  {% else %}
    <h1>{% trans "Create Task" %}</h1>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <table class="form">
      <tbody>
        {% if task.obj %}
          <tr>
            <th>{% trans "Object:" %}</th>
            <td>{{ task.obj|resume:'short' }}</td>
          </tr>
        {% endif %}
        {{ form.as_table }}
        <tr>
          <td colspan="2" align="right">
            <input type="button" onclick="history.go(-1)" value="{% trans 'Cancel' %}">
            <input type="submit" value="{% if task.pk %}{% trans 'Modify' %}{% else %}{% trans 'Create' %}{% endif %}">
            {% if task.pk %}
            <br>
            <button type="submit" class="delete" formaction="{% url 'task_delete' task.pk %}">{% trans 'Delete' %}</button>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </form>

     {% if task.pk %}
        {% if task.files.count %}
            {% include "task/task_files.html" %}
        {% endif %}
        {% if task.children.count %}
            {% include "task/list_tasks.html" %}
        {% endif  %} 
    {% endif %}
{% endblock %}

{% block edit_widgets %}
    {% if task.pk %}
        <div class="edit_buttons">
            <a href="{% url 'edit_file_task' task.id "0" %}">
                <img src="{{ STATIC_URL }}img/plus.png" alt="plus sign" class="icon">&nbsp;{% trans "File…" %}
            </a><br>
            
            <a href="{% url 'task_create_task' task.id %}">
                <img src="{{ STATIC_URL }}img/plus.png" alt="plus sign" class="icon">&nbsp;{% trans "Task…" %}
            </a><br>
        </div>
    {% endif %}
{% endblock %}

