{% load i18n objects tasks %}

{% block title %}
  {% trans "Tasks" %}
{% endblock %}

{% block content %}

  <h1>{% trans "Tasks" %}</h1>
  <ul>
    {% for task in tasks %}       
      <li class="{% cycle 'odd' 'even' %} task-{{task.status}}">
        {{ task.deadline|date:"d.m.Y" }}
        {% if task.obj %}
          <span class="status-{{ task.obj.status }}">{{ task.obj|resume:'short' }}</span>: {{ task.text }}
        {% else %}
          <a href="{% url 'task_edit' task.id %}">{{ task.text }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}

