{% load i18n  %}
<div class="block half_block" >
  <h2><a href="{% url 'tasks_view' %}">{% trans "Tasks" %}</a></h2>
  <div class="block_content">
    <ul style="max-height: 30em; overflow: auto">
      {% for task in tasks %}
        {% include "task/task.html" %}
      {% endfor %}
    </ul>
    <p><a href="{% url 'task_create' %}" id="create_link"><img src="{% static 'img/plus.png' %}" alt="plus sign">&nbsp;<em>{% trans "Create..." %}</em></a></p>
  </div>
</div>
