{% load i18n objects %}

<li class="{% cycle 'odd' 'even' %} task-{{task.status}}">
  {{ task.deadline|date:"d.m.Y" }}
  {% if task.obj and not obj %}
    <span class="status-{{ task.obj.status }}">{{ task.obj|resume:'short' }}</span>
  {% endif %}
 
   <a href="{% url 'task_edit' task.id %}">{{ task.text|title }}</a>
</li>

