{% load i18n %}

<div class="object_block_left"> 
    <h2 class="object_block_title">{% trans "Files" %}</h2>
    
    {% for file in task.files.all %}
         <div class="file" id="file-{{ file.id }}">
            <ul style="margin: 0; padding-left: 3em;">
                    
                    <li class="task_li {% cycle 'odd' 'even' %} task-{{file.status}}">
                        <a href="{{ file.fil.url }}" title="{% trans "Download" %}"><img src="{{ file.get_icon }}" />{{ file.title }}</a>
                
                            {% if editable %}
                                <a href="{% url 'edit_file_task' task.id file.id %}">
                                    <img class="edit_icon" src="{{ STATIC_URL}}img/edit.png" height="16" title="{% trans "Edit" %}" alt="edit icon" /></a>
                                <a href="." onclick="return delete_file_task({{ file.id }})">
                                    <img class="edit_icon" src="{{ STATIC_URL}}img/delete.png" height="16" title="{% trans "Delete" %}" alt="delete icon" /></a>
                            {% endif %}

                    </li>
            </ul>
        </div>
    {% endfor %}
</div>


