{% extends "base.html" %}
{% load i18n thumbnail %}
{% block title %}{% trans "Search images"%}{% endblock %}

{% block content %}
<h1>{% trans "Image Search" %}</h1>
<div style="padding: 3px;">
    <span style="padding: 3px;"><a href="{% url 'search' %}">Attributes</a></span>
    <span style="background-color: #CCCCCC; padding: 3px; border: 1px solid #CCCCCC; font-weight: bold;">Images</span>
</div>

<form method="get" action="." style="margin-top: 0.7em;">
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="{% trans "Search" %}">
            </td>
        </tr>
    </table>

    {% if is_search %}
        <h3>{% trans "Results" %}</h3>

        {% for result in page.object_list %}
            {% with result.object.parent.get_absolute_url as url %}
            <div class="img_result">
                <a href="{{ url }}#{{ result.object.id }}">{% thumbnail result.object.imagesubobject.image "140x90" as im %}<img id="img-{{ photo.id }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"/>{% endthumbnail %}</a><br/>
                <span class="caption">{{ result.object.title }}</span><br/>
                <a href="{{ url }}#{{ result.object.id }}"><span class="object_link">{{ result.object.parent.title }}</span></a>
            </div>
            {% endwith %}
        {% empty %}
            <p>{% trans "No results found." %}</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% endif %}
</form>
{% endblock %}
