{% extends "base.html" %}
{% load i18n objects %}
{% block title %}{% trans "Search content"%}{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/invent.css' %}">
<script type="text/javascript">
{% for key, val in form.oper_type_map.items %}
  var {{ key }}_options = [{% for value,name in val %}{name:'{{name|safe}}',value:'{{value}}'}{% if not forloop.last %},{% endif %}{% endfor %}];
{% endfor %}
var getvocab_url = "{% url 'vocab_for_attribute' %}";
var criterion_numb = {{ form.next_num }};
</script>

{% endblock %}

{% block content %}
<h1>{% trans "Search" %}</h1>
<div style="padding: 3px;">
    <span style="background-color: #CCCCCC; padding: 3px; border: 1px solid #CCCCCC; font-weight: bold;">{% trans "Attributes" %}</span>
    <span style="padding: 3px;"><a href="{% url 'search_img' %}">{% trans "Images" %}</a></span>
</div>

<form method="GET" action=".">
{{ form.non_field_errors }}

<div class="search_crit">
  <label>
  {% trans "Text to search:" %}
  {{ form.fulltext }}
  <label>
</div>

{% for crit_group in form.criterion %}
    <div class="search_crit">
      <div class="minus_icon" id="minus_icon_{{ forloop.counter0 }}">
        <a href='#' title='{% trans "Remove criterion" %}' onclick="return del_criterion($(this));">
        <img src="{% static 'img/minus.png' %}" alt="Remove criterion"></a>
      </div>
      {{ crit_group.2.errors }}
      {{ crit_group.0 }}  {{ crit_group.1 }}  {{ crit_group.2 }} {{ crit_group.3 }}
    </div>
{% endfor %}
    <p><a href="#" onclick="return add_criterion($(this));"><img src="{% static 'img/plus.png' %}" alt="Add criterion"/> {% trans "Add criterion" %}</a></p>
<input type="submit" value="{% trans 'Search' %}">

{% block results %}{% endblock %}
</form>

{% endblock %}
