{% extends "search/search_base.html" %}
{% load i18n objects %}

{% block results %}
<hr>
{% if total == 0 %}
    <p class="noresults">{% trans "Sorry, no result match your query" %}</p>
{% elif total > 0 %}

    <p>{% blocktrans count total as num %}{{ num }} result.{% plural %}{{ num }} results.{% endblocktrans %}</p>

    <ul>
        {% for res in page.object_list %}
            {% if forloop.first %}
            <input type="checkbox" id="all_items" name="all_items" onclick="selectedAll(this, 'item');">
            <label for="all_items"><b>Tout exporter</b></label>
            {% endif %}
            <li class="search_result">
                <span class="status-{{ res.status }}">
                    <input type="checkbox" name="item" value="{{ res.id }}">{{ res|resume:'long' }}
                </span>

                {% for img, title in res.get_features %}
                <img src="{{ img }}" height="15" title="{{ title }}"/>{% endfor %}
            </li>
        {% endfor %}
    </ul>
   
        {% if page.object_list %}
            <div class="object_block_navigation">
                {% if page.has_previous %}
                    <a href="?{{ qs }}&p=1" title="{% trans "Get first items"%}">{% trans "First" %}</a> |
                    <a href="?{{ qs }}&p={{ page.previous_page_number }}" title="{% trans "Get previous items"%}">{% trans "Previous items" %}</a> |
                {% endif %}

                {{ page.start_index }} - {{ page.end_index }} {% trans "of" %} {{ total }}
                {% if page.has_next %}
                    | <a href="?{{ qs }}&p={{ page.next_page_number }}" title="{% trans "Get next items"%}">{% trans "Next items" %}</a>
                    | <a href="?{{ qs }}&p=999" title="{% trans "Get last items"%}">{% trans "Last" %}</a>
                {% endif %}
            </div>

            <hr>
            <div class="object_block_export_data">
                <h3>Attributs exportés</h3>

                <ul class="nobullet">
                    <input id="selectall-acc" type="checkbox" name="group_attr" onclick="selectedAll(this, 'accession');"/>
                    <label for="selectall-acc"><b>Tous les attributs «Accession»</b></label><br>

                    {% for attr in attributs %}
                        <li class="{% cycle 'odd' 'even' %}">
                            <input id="cb-{{ attr.pk }}" type="checkbox" name="accession" value={{ attr.code }}>
                            <label for="cb-{{ attr.pk }}">{{ attr.atitle }}</label>
                        </li>
                    {% endfor %}
                    <li>
                        <input id="selectall-lot" type="checkbox" name="selectall-lot">
                        <label for="selectall-lot"><b>Exporter les lots</b></label>
                    </li>
                    <li>
                        <input id="selectall-test" type="checkbox" name="selectall-test">
                        <label for="selectall-test"><b>Exporter les tests</b></label>
                    </li>
                </ul>
                <input type="submit" value="Exporter" formmethod="POST" formaction="{% url 'search-export' %}">
            </div>
        {% endif %}
    </form>
{% endif %}
{% endblock %}
