{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>BGN: {% block title %}{{ title }}{% endblock %}</title>
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.hoverIntent.minified.js' %}"></script>
  <script src="{% static 'js/invent.js' %}"></script>
  <script>var static_url = "{{ STATIC_URL }}";</script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/taxo.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bgn.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
  {% if form %}
  {{ form.media }}
  {% endif %}
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div id="webHeaderDiv">
    <a class="logo" href="http://www.admin.ch/" target="_blank" title="Federal Administration admin.ch">
        <img id="logo-ch" src="{% static 'img/logo-ch.png' %}" width="254">
    </a>
    <div id="webHeaderLinks">
      <div id="adminch">
        <a href="http://www.admin.ch/" target="_blank" title="Federal Administration admin.ch">Federal Administration admin.ch </a>
      </div>
      <a href="{% url 'home' %}" title="Agroscope">Banque de gènes nationale</a>
    </div>
  </div>

<div id="webServiceNavigationDiv">
  {% include "login_div.html" %}
  <div class="search">
    <a href="{% url 'search' %}" class="header">{% trans "Search" %}</a>
    {% if user.is_staff %}<a href="{% url 'site_admin' %}" class="header status-private">{% trans "Administration" %}</a> |&nbsp;&nbsp;{% endif %}
  </div>
  &nbsp;<br>&nbsp;
</div>

<div class="content">
  {% block breadcrumb %}{% if breadcrumb %}
  <div id="breadcrumb">
    {% for level in breadcrumb %}
        {% if level.1 %}<a href="{{ level.1 }}">{% endif %}
        <span>{{ level.0 }}</span>{% if level.1 %}</a>{% endif %}
        {% if not forloop.last %} → {% endif %}
    {% endfor %}
  </div>{% endif %}
  {% endblock %}

  <div id="col_content">
    {% if messages %}
    <div id="site_message" class="message">
        {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
        {% endfor %}
    </div>
    {% endif %}

  {% block content %}
  {% endblock %}
  </div>
  
  {% if user.is_authenticated %}
  <div id="col_func">
    {% block edit_widgets %}
    {% endblock %}
  </div>
  {% endif %}

</div>

<div id="webFooter">
    <div>copyright © 2012-2025 <a href="https://www.agroscope.admin.ch/">Agroscope</a></div>
    <div><em>BGN database maintained by Beate Schierscher-Viret (Agroscope)</em></div>
</div>

</body>
</html>
