{% extends "base.html" %}
{% load i18n objects tasks %}
{% block title %}{% trans "Home"%}{% endblock %}

{% block content %}

  <h1>Banque de gènes nationale</h1>
  <p>Collection génétique d’Agroscope / genetic collection of Agroscope</p>

  <h2>Agroscope National Genebank Overview</h2>
  <p>The Agroscope National Genebank Information System provides detailed access to Switzerland's ex situ collection, allowing users to search using both general and scientific criteria. The gene bank includes over 14,000 accessions, ranging from landraces and heirloom varieties to modern breeds, mutants, and breeding lines. Orders can be placed online at <a href="https://www.pgrel.admin.ch">www.pgrel.admin.ch</a>.</p>

  <h2>History of Genetic Resource Conservation in Switzerland</h2>
  <p>Efforts to conserve genetic resources in Switzerland began in the early 1900s when researchers at the Station fédérale d'essais agricoles de Mont Calme in Lausanne collected and selected local wheat and barley varieties. The oldest conserved wheat, <em>Rouge de Gruyère</em>, was collected in 1900 from Morlon near Bulle in Canton Freiburg.</p>
  <p>Initially, the gene bank was integrated with breeding programs, with significant collections by the Reckenholz Research Station (now Agroscope) until the 1950s, focusing on wheat, spelt, barley, and maize. While wheat and barley collections emphasized Swiss-origin varieties, spelt accessions included samples from Germany, Belgium, Austria, and Spain. Today, the bank holds over 2,200 spelt varieties, one of the largest collections worldwide.</p>
  <p>By the early 1990s, collections were centralized at Changins. The wheat collection, now expanded to over 6,800 varieties, remains closely linked to breeding programs, incorporating both Swiss and international varieties. The vegetable collection, initiated in the 1980s to preserve traditional varieties against the rise of hybrids, currently includes over 900 accessions representing 45 botanical species.</p>

  <h2>Conservation Methods</h2>
  <ul>
      <li>Long-term storage (base collection): Seeds are kept in vacuum-sealed aluminum-foil bags at -20°C.</li>
      <li>Medium-term storage (active collection): Seeds are stored in paper bags at 4°C.</li>
      <li>Safety duplicates are preserved at the Svalbard Global Seed Vault in Norway.</li>
  </ul>

  {% block_by_id 1 %}
  {% block_by_id 2 %}
  {% block_by_id 3 %}
  {% block_by_id 11442 %}
  {% block_by_id 4295 %}
  {% block_by_id 78116 %}
  {% block_by_id 76964 %}
  {% block_by_id 8505 %}

  {% if user.is_authenticated %}
    {% tasks_block %}
    <div style="clear: both; margin-bottom: 1em;">
      <a href="{% url 'object_create' 0 "inventory" %}" id="create_link">
          <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">
          <em>{% trans "New inventory…" %}</em>
      </a>
    </div>
  {% endif %}

{% endblock %}
