{% load i18n %}
<div class="block">
    <h2>{% trans "Latest Inventories" %}</h2>
    <div class="block_content">
    <ul>
    {% for i in latest %}
        <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li>
    {% endfor %}
    </ul>
    <p><a href="{% url 'inventories' %}"><em>{% trans "More..." %}</em></a></p>
    </div>
</div>
