<div class="ranks">
{% for tx in main_taxon.get_parents %}
  {% if not forloop.last %}
    <a href="{% url 'taxo_browse_by_mode' tx.id mode %}">{{ tx.name }}</a> →
  {% endif %}
{% endfor %}
{{ main_taxon.name }}
</div>

