{% load i18n %}
{% comment %}
Input:
    displayed_taxons: is a list of structured dicts prepared in view
{% endcomment %}

<script>
var num_cols = {{ displayed_taxons|length }};
</script>

<table>
<tr><td id="col_prev">
    &nbsp;<a href="" class="display_prev icon" onclick="return show_prev_col();"><img src="{{ STATIC_URL }}img/prev_col.png" alt="Previous" title="{% trans "Previous" %}"/></a>&nbsp;
    </td><td> 
  <div class="main_content">
  <table><tr>
  {% for col in displayed_taxons %}
  <td id="col{{ col.index }}" class="taxons {{ col.class }}"><div class="taxon_col">
  <ul class="taxons" id="ul{{ col.index }}">
    {% for t in col.col %}
      {% if t.status == 'S' %}
        <li>{{ t.name }} <em>syn.</em><br />
          &nbsp;&nbsp;<a href="{% url 'taxo_browse_by_mode' t.syn_of.id mode %}">{{ t.syn_of.name }}</a></li>
      {% else %}
        <li><a href="{% url 'taxo_browse_by_mode' t.id mode %}">{{ t.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul></div>
  </td>
  {% endfor %}
  </tr></table>
  </div>
  </td><td id="col_next">
    <a href="" class="display_next icon" onclick="return show_next_col();"><img src="{{ STATIC_URL }}img/next_col.png" alt="Next" title="{% trans "Next" %}"/></a>&nbsp;&nbsp;&nbsp;
  </td></tr>
</table>
