{% load i18n %}
{% comment %}
Input:
    main_taxon:       is the main taxon object whose children are displayed
    displayed_taxons: is a list of structured dicts prepared in view
{% endcomment %}

<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>BCIS: Taxonomy</title>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/taxo.css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}js/taxo.js"></script>
</head>

<body>

<div class="top_line">
    {% include "taxo/rank_selector.html" %}
    {% include "taxo/search_selector.html" %}
</div>

<div class="content_line">
{% include "taxo/taxo_widget.html" %}
</div>

<div class="bottom_line">
{% if main_taxon %}
<form style="float: right" onsubmit="return select_and_close({{ main_taxon.id }}, '{{ main_taxon.full_name }}')">
<input type="submit" value="{% trans "Select" %}" />
</form>
{% endif %}
</div>

</body>
</html>
